.m-tag-card {
  height: 180px;
  margin: 0 0 20px;
  position: relative;
  border-radius: 10px;
  border: 1px solid var(--secondary-border-color);
  @include transition(all .25s cubic-bezier(.02,.01,.47,1));

  &:hover {
    @include transform(translateY(-5px));

    &:before {
      @include bs(var(--article-shadow-hover));
    }
  }

  @include respond-to('medium') {
    width: 320px;
    margin: 0 20px 40px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 0;
    left: 10px;
    border-radius: 10px;
    z-index: 1;
    @include bs(var(--article-shadow-normal));
    @include transition(all .25s cubic-bezier(.02,.01,.47,1));
  }
}

.m-tag-card__link {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background-color: $black;
  z-index: 2;

  &.no-picture {
    background-color: var(--secondary-subtle-color);
  }
}

.m-tag-card__picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  opacity: 0.7;
  z-index: 1;
}

.m-tag-card__info {
  position: absolute;
  left: 15px;
  bottom: 15px;
  color: $white;
  z-index: 2;

  &.no-picture {
    color: var(--titles-color);
  }
}

.m-tag-card__name {
  letter-spacing: 0.3px;
  line-height: 1.3;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 0 5px;
}

.m-tag-card__counter {
  display: block;
  letter-spacing: 0.2px;
  font-size: 0.875rem;
}
.global-tags {
	font-weight: var(--font-weight-secondary-extra-bold);
	position: relative;
	z-index: 2;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	max-width: 500px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.global-tags a {
	font-size: 8px;
	line-height: 1.3;
	display: inline-block;
	margin: 7px 6px 0 0;
	padding: 4px 6px 4px 8px;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
	-webkit-transition-duration: 0.15s;
	transition-duration: 0.15s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
	letter-spacing: 2px;
	text-transform: uppercase;
	border: 1px solid;
	border-color: var(--color-elements-three);
	border-radius: 25px;
}
.loop-tags {
	position: absolute;
	top:20px;
	left: 20px;
}
.global-tags a:hover {
	color: white !important;
	text-decoration: none!important;
}
.global-tags a:hover {
	background-color: rgb(62 62 95);
}